In [1]:
import pandas as pd
import numpy as np
import datetime as dt

In [2]:
def get_date(created):
    return dt.datetime.fromtimestamp(created)

In [3]:
df1 = pd.read_csv('data/askreddit_tops_15.csv')

In [4]:
df2 = pd.read_csv('data/askreddit_tops_16_51.csv')

## Merge data sets

In [5]:
df1.head()

,id,parent_id,link_id,gilded,author,created,is_submitter,permalink,score,body,question
0,ed1czme,t3_ablzuq,t3_ablzuq,0,sweatybeard,1.546379e+09,False,/r/AskReddit/comments/ablzuq/people_who_havent...,12169,"But when I finally do, it'll be the years bigg...","People who haven't pooped in 2019 yet, why are..."
1,ed1d2z7,t3_ablzuq,t3_ablzuq,1,ButtholeLinoleum,1.546379e+09,False,/r/AskReddit/comments/ablzuq/people_who_havent...,14259,I've been pissing out my ass all fuckin day.,"People who haven't pooped in 2019 yet, why are..."
2,ed1emmi,t3_ablzuq,t3_ablzuq,0,abksploder,1.546380e+09,False,/r/AskReddit/comments/ablzuq/people_who_havent...,34844,Bold of you to assume I'm going to take a shit...,"People who haven't pooped in 2019 yet, why are..."
3,ed1dhh6,t3_ablzuq,t3_ablzuq,0,adsadsadsadsads,1.546379e+09,False,/r/AskReddit/comments/ablzuq/people_who_havent...,19268,We have guests and I literally can't relax.,"People who haven't pooped in 2019 yet, why are..."
4,ed1dqvy,t3_ablzuq,t3_ablzuq,2,KixStar,1.546379e+09,False,/r/AskReddit/comments/ablzuq/people_who_havent...,35941,I caught a diarrhea stomach bug and have been ...,"People who haven't pooped in 2019 yet, why are..."

In [6]:
df2.head()

,id,parent_id,link_id,gilded,author,created,is_submitter,permalink,score,body,question
0,el6w5xg,t3_bekeb1,t3_bekeb1,1,babiferari,1.555600e+09,False,/r/AskReddit/comments/bekeb1/what_mindblowing_...,6328,Dogs can tell when your comming home by how mu...,What mind-blowing (but simple) facts would sat...
1,el6t0en,t3_bekeb1,t3_bekeb1,0,Lord_AdGnalDiv,1.555598e+09,False,/r/AskReddit/comments/bekeb1/what_mindblowing_...,2389,Most people have more than the average number ...,What mind-blowing (but simple) facts would sat...
2,el6qo0t,t3_bekeb1,t3_bekeb1,0,AmerisaurausRex,1.555597e+09,False,/r/AskReddit/comments/bekeb1/what_mindblowing_...,1328,A day on Venus takes longer to complete Than a...,What mind-blowing (but simple) facts would sat...
3,el6othd,t3_bekeb1,t3_bekeb1,1,CryoWreck,1.555595e+09,False,/r/AskReddit/comments/bekeb1/what_mindblowing_...,33609,Otters have skin pockets for their favorite rocks,What mind-blowing (but simple) facts would sat...
4,el6rgab,t3_bekeb1,t3_bekeb1,0,B3ximus,1.555597e+09,False,/r/AskReddit/comments/bekeb1/what_mindblowing_...,3271,The name for the Arctic comes from the ancient...,What mind-blowing (but simple) facts would sat...

In [20]:
# link_id refers to submission
print(len(df1), len(df2))
df1['link_id'].nunique(), df2['link_id'].nunique()

1500 3500

(15, 35)

In [15]:
# 100 top-level comments per submission
df1.groupby('link_id')['id'].count(), df2.groupby('link_id')['id'].count()

(link_id
 t3_70k2ya    100
 t3_80phz7    100
 t3_84anfy    100
 t3_8pks1u    100
 t3_99eh6b    100
 t3_9gx68l    100
 t3_9whgf4    100
 t3_a72nr4    100
 t3_ablzuq    100
 t3_ac9038    100
 t3_aicgpz    100
 t3_atn6h6    100
 t3_awmdb2    100
 t3_d0jjc2    100
 t3_dcxylq    100
 Name: id, dtype: int64, link_id
 t3_4nqnrm    100
 t3_6k0p7l    100
 t3_6ogsx8    100
 t3_7pblps    100
 t3_7rb2rh    100
 t3_7x639l    100
 t3_87wckw    100
 t3_99362t    100
 t3_9hef7a    100
 t3_a0a4cd    100
 t3_a0vt8e    100
 t3_af3x54    100
 t3_afzfa7    100
 t3_akbzuv    100
 t3_aqf3bi    100
 t3_aumhwo    100
 t3_awwcfb    100
 t3_b07rzr    100
 t3_b0ox0w    100
 t3_b2mzay    100
 t3_bc6skn    100
 t3_bekeb1    100
 t3_bhd99l    100
 t3_bn3bpz    100
 t3_cbm4z1    100
 t3_chm4um    100
 t3_cnhcty    100
 t3_co16i3    100
 t3_cpsi27    100
 t3_cuctl4    100
 t3_cy82ym    100
 t3_d5ye2u    100
 t3_d9fy8u    100
 t3_depwkk    100
 t3_dh3xew    100
 Name: id, dtype: int64)

In [16]:
df = pd.concat([df1, df2])

In [21]:
# Result is top 100 top-level comments from top 50 submissions
len(df), df['link_id'].nunique()

(5000, 50)

## Columns clean-up

In [22]:
# Convert 'created' column from UTC to datetime
df["created"] = df["created"].apply(lambda x: get_date(x))

In [24]:
# Create 'target' column to signal whether comment is gilded
df.loc[df['gilded'] >= 1, 'target'] = 1
df.loc[df['gilded'] == 0, 'target'] = 0
df['target'] = df['target'].astype(int)

In [25]:
df.head()

,id,parent_id,link_id,gilded,author,created,is_submitter,permalink,score,body,question,target
0,ed1czme,t3_ablzuq,t3_ablzuq,0,sweatybeard,2019-01-01 15:35:24,False,/r/AskReddit/comments/ablzuq/people_who_havent...,12169,"But when I finally do, it'll be the years bigg...","People who haven't pooped in 2019 yet, why are...",0
1,ed1d2z7,t3_ablzuq,t3_ablzuq,1,ButtholeLinoleum,2019-01-01 15:36:36,False,/r/AskReddit/comments/ablzuq/people_who_havent...,14259,I've been pissing out my ass all fuckin day.,"People who haven't pooped in 2019 yet, why are...",1
2,ed1emmi,t3_ablzuq,t3_ablzuq,0,abksploder,2019-01-01 15:56:33,False,/r/AskReddit/comments/ablzuq/people_who_havent...,34844,Bold of you to assume I'm going to take a shit...,"People who haven't pooped in 2019 yet, why are...",0
3,ed1dhh6,t3_ablzuq,t3_ablzuq,0,adsadsadsadsads,2019-01-01 15:41:49,False,/r/AskReddit/comments/ablzuq/people_who_havent...,19268,We have guests and I literally can't relax.,"People who haven't pooped in 2019 yet, why are...",0
4,ed1dqvy,t3_ablzuq,t3_ablzuq,2,KixStar,2019-01-01 15:45:09,False,/r/AskReddit/comments/ablzuq/people_who_havent...,35941,I caught a diarrhea stomach bug and have been ...,"People who haven't pooped in 2019 yet, why are...",1

In [26]:
# Minority class is ~9% 
(df['target'] == 1).sum() / len(df)

0.0914

In [27]:
df.to_csv('data/askreddit_top_50.csv', index=False)